---
import Layout from '../layouts/Layout.astro';
---

<Layout
	title="¡Bienvenido!">
	<main
		class="w-full min-h-screen antialiased bg-[url('/assets/background.png')] bg-cover flex items-center justify-center">
		<article class="flex flex-col gap-8 items-center">
			<img
				src="assets/tottus.svg"
				alt="Logotipo Hipermercado Tottus"
				class="max-w-[6rem]">
			<button
				class="text-sm bg-white px-10 py-2 rounded-lg text-first-color flex gap-2 shadow-md hover:scale-[1.02] duration-300 transition-all text-center justify-center"
				id="authorize_button">
				<img
					src="assets/google_icon.svg"
					alt="Google Icon">
				Continuar con Google
			</button>
		</article>
	</main>
</Layout>
		<!--================== SCRIPTS ==================-->
		<script async defer type="module" src="./js/sheets/auth.js"></script>
		<script async defer type="module" src="./js/sheets/login.js"></script>
<style>
	main {
		padding: 1rem;
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
