<!-- NAVBAR -->
<nav class="flex justify-between !h-[5rem] items-center text-sm bg-primary-color text-white font-semibold tracking-wider px-4 shadow-md mb-2  bg-[url('../assets/background.webp')] bg-cover">
    <h3>Profundidad NoonFood</h3>
</nav>