---
interface Props {
	title: string;
}

const { title} = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<script type="module">
			import { LoadPages } from '../js/load.js';

			document.addEventListener('DOMContentLoaded', () => {
				LoadPages()
			})
		</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!--================== BOXICONS ==================-->
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css'>
		<!--================== NOTIFLIX ==================-->
		<script defer src='../js/notiflix/notiflix.js'></script>
		<link rel='stylesheet' href='../js/notiflix/notiflix.css'>
		<!--================== SCRIPTS==================-->
		<script async defer src="https://apis.google.com/js/api.js" id="gapi"></script>
		<script async defer src="https://accounts.google.com/gsi/client" id="gis"></script>
		<!--================== DATATABLE ==================-->
		<link rel='stylesheet' href='https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css'>
		<link rel='stylesheet' href='https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css'>
		<link rel='stylesheet' href='https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css'>
		<!--================== TITLE ==================-->
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<!--================== MEDIA QUERYS ==================-->
	<script type='text/javascript' src='https://code.jquery.com/jquery-3.7.0.js'></script>
	<script type='text/javascript' src='https://code.jquery.com/jquery-latest.js'></script>
	<!--================== DATATABLE ==================-->
	<script type='text/javascript' src='https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js'></script>
	<script type='text/javascript' src='https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js'></script>
	<script type='text/javascript' src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
	<!--================== BARCODE ==================-->
	<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.6/dist/JsBarcode.all.min.js"></script>
	<!--================== SCRIPTS ==================-->
	<script async defer type="module" src="../js/sheets/auth.js"></script>
	<script async defer type="module" src="../js/sheets/sheets.js"></script>
	<script async defer type="module" src="../js/dataTable/dataTable.js"></script>
	<script type="module" src="../js/index.js"></script>

</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
		/* OVERLAY */
		.overlay{
		@apply fixed opacity-0 top-0 w-full h-full bg-overlay-color -z-10
	}
	/* STATES */
	.show{
		@apply !scale-100 !opacity-100 !z-30 !flex !duration-[100ms] !transition-all !ease-in-out
	}
	.active{
		@apply flex flex-col !scale-100 !opacity-100 !z-30 transition-all duration-300
	}

	#barcode{
		@apply w-[200px] !h-fit
	}

	/* Estados */
	.obsoleto{
		@apply bg-[#ffc7ce] text-[#9c0006]
	}
	.activo{
		@apply bg-[#c6efce] text-[#006100]
	}
	.section__modal.show{
        @apply !duration-200 origin-center !scale-100
    }

    /* INPUTS */
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #fff inset !important;
        -webkit-text-fill-color:#000 !important;
    }
    .form__element{
        @apply col-span-2 md:col-span-1 relative z-0 mb-2 w-full flex flex-col gap-2 items-start
    }
    .form__element--label{
        @apply block text-[.7rem] font-medium text-gray-400 tracking-wider
    }
    .form__element--input{
        @apply shadow-sm bg-white border border-gray-300 text-gray-900 text-[.7rem] sm:text-sm rounded-lg focus:ring-first-color focus:border-first-color block w-full p-2.5 invalid:bg-red-200 invalid:border-red-500 invalid:focus:border-red-500 !transition-all !duration-300
    }

	#DataTables_Table_0_wrapper{
    @apply !grid !grid-cols-6 !gap-4
    }
    /* INPUT BUSQUEDA */
    .dataTables_filter{
        @apply !flex  !flex-col-reverse md:!flex-row !col-span-6 !justify-center items-center gap-y-4 gap-x-10 px-2 py-2
    }

    .dataTables_filter > select{
        @apply !text-[.75rem] sm:!text-sm !rounded-md !shadow-sm !h-[2.2rem] !bg-gray-50 !border !border-gray-300 !text-gray-400 !outline-none w-full md:w-[15rem] px-2
    }
    .dataTables_filter > label{
        @apply items-center  !inline-flex w-full h-fit
    }
    .dataTables_filter > label > input{
        @apply !shadow-sm !h-[2.2rem] !bg-gray-50 !border !border-gray-300 !text-gray-900 !text-[.75rem] sm:!text-sm !rounded-md !outline-none !block !w-full !p-2.5 !ml-0
    }
    /* MOSTRAR X ENTRADAS */
    .dataTables_length{
        @apply !my-4 !flex
    }
    .dataTables_length > label > select{
        background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc) !important;
        background-position:
            calc(100% - 14px) calc(1em + -1px),
            calc(100% - 10px) calc(1em + -1px),
            calc(100% - 1.75em) 0.2em;
        background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
        background-repeat: no-repeat;
        @apply !appearance-none !w-[4.5rem] !pl-2
    }
    table{
        @apply !col-span-6 !border-spacing-y-2
    }
    th.sorting::before , th.sorting::after{
        @apply !opacity-100 !text-[.8rem]
    }
    .dataTables_length{
        float : bottom !important;
    }
    /* INFORMATION */
    .dataTables_info{
        @apply !flex !text-xs xs:!text-xs !font-normal !text-gray-color !my-0 md:!my-4 !col-span-6 md:!col-span-3 justify-center
    }
    /* PAGINATION */
    .dataTables_paginate{
        @apply  !flex !col-span-6 md:!col-span-3 !justify-center md:!justify-end !gap-0 !items-center !my-0 md:!my-4
    }
    .dataTables_paginate > a{
        @apply  !text-xs !cursor-pointer hover:!bg-gray-100 !text-gray-color !py-0 !px-1.5 !border !border-gray-200 !mx-0
    }
    .dataTables_paginate #DataTables_Table_0_previous{
        @apply !rounded-l-lg !h-full !flex !items-center
    }
    .dataTables_paginate #DataTables_Table_0_next{
        @apply !rounded-r-lg !h-full !flex !items-center
    }
    .dataTables_paginate > span{
        @apply !bg-white !text-gray-color !rounded-md !border-gray-200 flex items-center !h-full
    }
    .dataTables_paginate > span > a{
        @apply  !text-[.7rem] !cursor-pointer !flex items-center hover:!bg-gray-100 !bg-none !font-medium !rounded-none !border-gray-200 !mx-0 !h-full
    }
    .dt-button > span > i, .paginate_button > i{
        @apply !top-[.05rem] !font-medium !text-sm
    }

    .dataTables_empty{
        @apply !text-center align-middle !text-xs !h-10 !opacity-75
    }
    .dtr-control.sorting_1{
        @apply !pl-10 md:!pl-16 !relative xl:!pl-3
    }
    .dtr-data, .dtr-title{
        @apply !text-xs !tracking-wider
    }
    .odd, .sorting, .even{
        @apply md:!text-center !text-[.8rem]
    }
    .sorting {
        @apply !py-[1.5rem] !shadow-sm !border-collapse !bg-white
    }
    .odd, .even{
        @apply !text-xs md:!text-sm !tracking-wider !h-[4rem] hover:!bg-[#fafafa] !shadow-sm
    }

    tr, .odd, .even, th, td, table.dataTable.no-footer{
        @apply !border-none
    }
    table.dataTable>tbody>tr.child ul.dtr-details {
        @apply !flex !flex-col !gap-2 !items-start !w-full !pl-4
    }
    table.dataTable>tbody>tr.child span.dtr-title{
        @apply !min-w-fit
    }
    table.dataTable>tbody>tr.child ul.dtr-details>li{
        @apply !flex !gap-2 !items-center
    }

    table.dataTable.display>tbody>tr.odd>.sorting_1,
    table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1,
    table.dataTable.display>tbody>tr.even>* {
        box-shadow: inset 0 0 0 0px #00000001;
    }
</style>
