---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!--================== BOXICONS ==================-->
		<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css'>
		<!--================== NOTIFLIX ==================-->
		<script defer src='../js/notiflix/notiflix.js' is:inline></script>
		<link defer rel='stylesheet' href='../js/notiflix/notiflix.css' is:inline>
		<!--================== SCRIPTS==================-->
		<script async defer src="https://apis.google.com/js/api.js" id="gapi"></script>
		<script async defer src="https://accounts.google.com/gsi/client" id="gis"></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
	<!--================== MEDIA QUERYS ==================-->
	<script type='text/javascript' src='https://code.jquery.com/jquery-3.7.0.js' is:inline></script>
	<script type='text/javascript' src='https://code.jquery.com/jquery-latest.js' is:inline></script>

</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
